<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Practice Beginner Friendly</title>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <h1><a href="">SchoolH</a></h1>
      </div>
      <div class="navbar_btn">
        <ul><li><a href="">Home</a></li></ul>
        <ul><li><a href="">Services</a></li></ul>
        <ul><li><a href="">Login</a></li></ul>
      </div>
    </div>
  </header>

  <main>
    <div class="card">
      <div class="text_box">
        <h1>Login</h1>
      </div>
      <div class="text_input">
        <input type="email" placeholder="Enter email address:">
        <input type="password" placeholder="Enter password: ">
      </div>
    </div>
  </main>
</body>
</html>