<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enrollment Form Page/title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  
  {% include "website/header.html " %}
  
  {% block content  %}

  
  <section>
    
      <div class="card">
        <div class="text_box">
          <h1> Enrollment Form </h1>
        </div>
        <div class="text_input">
          <input type="email" placeholder="Enter email address:">
          <input type="password" placeholder="Enter password: ">
          <button class="btn">Login</button>
        </div>
      </div>
  </section>

  {% endblock %}

</body>
</html>